body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    /* background-color: #1F2937; */
}

.right-links {
    margin-left: auto;
}