body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    padding: 0px;
    background: #612242;
    color: white;
    justify-content: space-around;
    padding-bottom: 3em;
}

.header h2 {
    font-size: 24px;
}

.right-links {
    align-self: center;
}

.content-one {
    display: flex;
    justify-content: center;
    background-color: #612242;
    color: white;
    padding-bottom: 4em;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 40px;
    max-width: 1200px;
}

.card-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #612242;
    flex: 1 1 auto;
    padding: 0px 30px;
}

.card-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.card-left p {
    font-size: 18px;
    color: #f9faf8;
}

.subtitle {
    text-align: center;
    font-size: 36px;
    padding: 20px 0px;
}

.content-two {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.info {
    max-width: 200px;
    padding: 20px;
}

.info img {
    margin-bottom: 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #612242;
    color: white;
    padding: 20px;
}

.citation {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0rem;
    border-radius: 10px;
    padding: 0px 10px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
} 

.citation-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    font-style: italic;
}

.said {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
}

.final-section {
    display: flex;
    margin: 100px 0px;
    color: white;
}

.content-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #A60857;
    padding: 0px 10px;
    width: 700px;
}

.button-bar {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

button {
    background: #A60857;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
}

.content-text h5{
    font-size: 18px;
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.content-text p {
    margin-top: 0px;
    margin-bottom: 30px;
}